# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DataHolder\absolute-links\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
